* {
  margin: 0;
  padding: 0;
}

.box:nth-child(even) {
  width: 125px;
  height: 125px;
  line-height: 8;
  text-align: center;
  background-color: #ed3323;
}

.box:nth-child(odd) {
  width: 125px;
  height: 125px;
  line-height: 8;
  text-align: center;
  background-color: #2121ff;
}